<footer class="mt-auto text-center gradient text-xl text-white">
  <div class=" max-w-6xl mx-auto">
    <nav class=" py-8">
      <a class="button minor white" href="https://did.nolt.io">Roadmap</a>
      <a class="button minor white" href="/articles/how-did-works"
        >How DID works</a
      >
      <a class="button minor white" href="/docs">Docs</a>
      <a class="button minor white" href="/faq">FAQs</a>
      <a class="button minor white" href="/articles">Blog</a>
      <a class="button minor white" href="/legal">Legal</a>
      <!-- <a class="button minor white" href="/#pricing">Pricing</a> -->
    </nav>
    <a class="inline-block m-3" href="https://www.producthunt.com/posts/did?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-did" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=187485&theme=light" alt="DID - Digital Identity Provider | Passwordless sign in | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>
    <p class="py-8 text-sm">© 2019 Kno Me Limited</p>

  </div>
</footer>
