<footer class="mt-auto text-center gradient text-xl text-white">
  <div class=" max-w-6xl mx-auto">
    <nav class=" py-8">
      <a class="button minor white" href="/articles/how-did-works">How DID works</a>
      <a class="button minor white" href="/docs">Docs</a>
      <a class="button minor white" href="/faq">FAQs</a>
      <a class="button minor white" href="/articles">Blog</a>
      <a class="button minor white" href="/legal">Legal</a>
      <a class="button minor white" href="/#pricing">Pricing</a>
    </nav>
    <p class="py-8 text-sm">© 2019 Kno Me Limited</p>
  </div>
</footer>
