<footer class="mt-auto text-center gradient text-xl text-white">
  <div class=" max-w-6xl mx-auto">
    <a class="inline-block m-3" href="https://www.producthunt.com/posts/did?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-did" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=187485&theme=light" alt="DID - Digital Identity Provider | Passwordless sign in | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>
    <p class="py-8 text-sm">© 2019 Kno Me Limited</p>

  </div>
</footer>
