$charcol: #43464b;
// color: #384d71;

$deep-green: #008c72;
$mint-green: #00d1b2;

$text-color: $charcol;
$brand-accent: $deep-green;
$error-color: #e24973;
// $sans-serif-stack: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, roboto, noto, "segoe ui", arial, sans-serif;
$sans-serif-stack: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
