@import "../_config.scss";
button {
  font-size: inherit;
}

.button {
  color: inherit;
  display: inline-block;
  padding: 9px 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  text-decoration: none;

  &.wide {
    width: 100%;
  }
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.button.large {
  font-size: 120%;
}

.button.action {
  color: white;
  background: radial-gradient(
    circle farthest-side at right bottom,
    #008c72 5%,
    #009c98 98%
  );
  &:hover {
    background: radial-gradient(
      circle farthest-side at right bottom,
      desaturate(#008c72, 15%) 5%,
      desaturate(#009c98, 15%) 98%
    );
    box-shadow: 1px 1px 3px 0px #7cd6d3;
  }
  &:active,
  &:focus {
    background: radial-gradient(
      circle farthest-side at right bottom,
      desaturate(#008c72, 15%) 5%,
      desaturate(#009c98, 15%) 98%
    );
    box-shadow: 0px 0px 0px 4px #7cd6d3;
  }
  &.danger {
    background: radial-gradient(
      circle farthest-side at right bottom,
      red 5%,
      $error-color 98%
    );
    &:hover {
      background: radial-gradient(
        circle farthest-side at right bottom,
        desaturate(red, 15%) 5%,
        desaturate($error-color, 15%) 98%
      );
      box-shadow: 1px 1px 3px 0px #7cd6d3;
    }
    &:active,
    &:focus {
      background: radial-gradient(
        circle farthest-side at right bottom,
        desaturate(red, 15%) 5%,
        desaturate($error-color, 15%) 98%
      );
      box-shadow: 0px 0px 0px 4px #7cd6d3;
    }
  }
}

.button.secondary {
  border: 1px #009c98 solid;
  &:hover {
    box-shadow: 1px 1px 3px 0px #7cd6d3;
  }
  &:active,
  &:focus {
    box-shadow: 0px 0px 0px 4px #7cd6d3;
  }
}
.button.tertiary {
  border-radius: 0px;
  outline: none;
  &:hover {
    box-shadow: inset 0px -6px 0px -3px #7cd6d3;
  }
  &:active,
  &:focus {
    box-shadow: inset 0px -6px 0px -3px #7cd6d3;
  }
}
.button.brand {
  @extend .tertiary;
}
