.footer.inverted {
  color: white;
  background: radial-gradient(
    circle farthest-side at right bottom,
    #2aa1c0 5%,
    #384d71 98%
  );
}
.page > .footer {
  margin-top: auto;
}
.card > .footer {
  padding: 0.5rem;
  margin-top: auto;
}
