.note {
  padding: 0 1rem;
  border: 1px solid;
  border: 2px solid #e4f1ee;
  border-radius: 5px;
}
/* 33 * 22 */
@media screen and (min-width: 726px) {
  .note {
    float: right;
    width: 14rem;
    margin: 0 0 1rem 2rem;
  }
}

.note h3 {
  color: inherit;
  margin: 1rem 0;
}
