.sash {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1rem;
    right: -1rem;
    z-index: -1;
    transform: skewY(-3deg);
  }
  &.blue {
    color: white;
    &::before {
      background: radial-gradient(
        circle farthest-side at right bottom,
        #2aa1c0 5%,
        #384d71 98%
      );
    }
  }
}
