---
layout: base
---

<header class="py-4 px-6 z-10 text-gray-700">
  <nav class="max-w-6xl mx-auto flex flex-wrap items-center text-lg md:text-xl">
    <span class="my-1 flex-grow">
      <a class="" href="/">
        <img class="h-10 md:h-12" src="/assets/images/DID_logo_ident_colour.svg" alt="DID Digital Identity Logo">
      </a>
    </span>
    <span class="my-1 w-full sm:w-auto order-last sm:order-none text-right">
      <a href="/articles/how-did-works" class="button minor green">How it works</a>
      <a href="/docs" class="button minor green">Documentation</a>
      <a href="/#pricing" class="button minor green">Pricing</a>
    </span>
    <span class="my-1 ml-4">
      <a href="/welcome" class="button solid green">Sign in</a>
    </span>
  </nav>
</header>
<main class="px-6 text-gray-700">
  {{ content }}
</main>
{% include footer.html %}
