---
layout: base
---

<style media="screen">

</style>
<header class="py-4 px-6 z-10 text-white bg-gray-800">
  <nav class="max-w-6xl mx-auto flex flex-wrap items-center text-lg md:text-xl">
    <span class="my-1 flex-grow">
      <a class="text-white hover:text-green-500" href="/">
        <svg class="h-10 md:h-12 fill-current" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 80 41" enable-background="new 0 0 80 41" xml:space="preserve">

        	<path d="M70.3,0.6H28.4c-3.4,0-6.3,2-7.5,4.9h3.7c0.9-1,2.2-1.7,3.7-1.7h41.9c2.7,0,4.8,2.2,4.8,4.8v23.2
        	c0,2.7-2.2,4.8-4.8,4.8H9.1c-2.7,0-4.8-2.2-4.8-4.8v-3.4c0-1.8,0.9-3.4,2.3-4.2v-3.5c-3.2,1-5.5,4.1-5.5,7.8v3.4
        	c0,4.4,3.6,8.1,8.1,8.1h61.2c4.4,0,8.1-3.6,8.1-8.1V8.7C78.4,4.2,74.8,0.6,70.3,0.6z"/>
        	<path fill="#FFF" d="M29.9,18.5c0,2.2-0.5,4.2-1.4,5.9c-0.9,1.7-2.3,3-4,3.9c-1.7,0.9-3.7,1.4-6,1.4H9.4V7.8h9
        	C26.1,7.8,29.9,11.4,29.9,18.5z M22.9,18.5c0-1.1-0.2-2-0.6-2.9c-0.4-0.9-1-1.5-1.8-2c-0.8-0.5-1.7-0.7-2.8-0.7h-1.7v11.5h1.8
        	c1.6,0,2.8-0.5,3.8-1.6C22.5,21.8,22.9,20.3,22.9,18.5z"/>
        	<path fill="#FFF" d="M33,29.6V7.8h6.6v21.8H33z"/>
        	<path fill="#FFF" d="M64.4,18.5c0,2.2-0.5,4.2-1.4,5.9c-0.9,1.7-2.3,3-4,3.9c-1.7,0.9-3.7,1.4-6,1.4h-9.2V7.8h9
        	C60.6,7.8,64.4,11.4,64.4,18.5z M57.4,18.5c0-1.1-0.2-2-0.6-2.9c-0.4-0.9-1-1.5-1.8-2c-0.8-0.5-1.7-0.7-2.8-0.7h-1.7v11.5h1.8
        	c1.6,0,2.8-0.5,3.8-1.6C57,21.8,57.4,20.3,57.4,18.5z"/>
        </svg>
      </a>
    </span>
    <span class="my-1 w-full sm:w-auto order-last sm:order-none text-right">
      <a href="/articles/how-did-works" class="button minor green">How it works</a>
      <a href="/docs" class="button minor green">Documentation</a>
      <a href="/#pricing" class="button minor green">Pricing</a>
    </span>
    <span class="my-1 ml-4">
      <a href="/welcome" class="button solid green">Sign in</a>
    </span>
  </nav>
</header>
<main class="px-6">
  <div class="max-w-6xl mx-auto flex flex-col md:flex-row">
    <aside class="text-xl pr-3">
      <h3 class="mt-4 mb-2" class="mt-4 mb-2">Overview</h3>
      <ul>
        <li><a class="border-l-4 hover:border-green-500 hover:text-green-500 pl-4 py-1 text-gray-500" href="/docs">Introduction</a></li>
        <li><a class="border-l-4 hover:border-green-500 hover:text-green-500 pl-4 py-1 text-gray-500" href="/docs/core-concepts">Core concepts</a></li>
      </ul>
      <h3 class="mt-4 mb-2">API reference</h3>
      <ul>
        <li><a class="border-l-4 hover:border-green-500 hover:text-green-500 pl-4 py-1 text-gray-500" href="/docs/api">Overview</a></li>
        <li><a class="border-l-4 hover:border-green-500 hover:text-green-500 pl-4 py-1 text-gray-500" href="/docs/api/openid-connect">OpenID Connect</a></li>
      </ul>
    </aside>
    <article class="flex-1 max-w-2xl mx-auto mb-20 pl-3 markdown-body">
      <header id="title">
        <h1>{{page.title}}</h1>
        <span>{{page.abstract}}</span>
      </header>
      {{content}}
    </article>
  </div>
</main>
{% include footer.html %}
