---
layout: default
---

<div class="max-w-xl mx-auto">
  <!-- <a class="button minor green px-0 text-green-500" href="/articles"><strong>⭠</strong> All articles</a>
  <h1 class="my-4 text-4xl font-bold">{{page.title}}</h1>
  <p>
    {{page.abstract}}
  </p> -->
  <section class="markdown-body">
    {{content}}
  </section>
  <!-- <div class="">
    <img class="h-10 md:h-12" src="/assets/images/DID_logo_ident_colour.svg" alt="DID Digital Identity Logo">
    <hr>
    <h3 class="my-4 font-bold text-xl">Questions?</h3>
    <p>
      Any further Questions get in touch
    </p>
  </div> -->
</div>
