.offcenter {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;

  img {
    max-height: 15rem;
    max-width: 100%;
    margin: 0 auto;
  }

  .text {
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  .offcenter {
    grid-template-columns: repeat(2, 1fr);
    .text {
      // max-width: 22.5rem;
    }
    img {
      max-height: none;
    }
    &.right-paragraph {
      > .text {
        grid-row-start: 0;
        margin-left: 0;
        margin-right: auto;
      }
    }
    &.left-paragraph {
      // grid-template-columns: 28rem auto;

      > .text {
        grid-row-start: -1;
        margin-left: auto;
        margin-right: 0;
        // text-align: right;
      }
    }
  }
}
